<!DOCTYPE html>
	<html>
		<head>
			<title>Contact Form</title>
			<style>
			body{background-color:grey}
			</style>
		<body>
    			<h1>Contact us</h1>

    			{% if form.errors %}		
        		<p style="color: red;">
            			Please correct the error{{ form.errors }} below.
        		</p>
    			{% endif %}
			<form method="POST" action="">
				<table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
	

